* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #202020;
  color: white;
  min-height: 80px;
  font-size: 25px;
  padding: 20px;
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(48, 48, 48);
}
a:hover {
  color: #008080;
}

.products {
  max-width: 1100px;
  text-align: left;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  margin: 20px auto;
}

.product-card {
  max-width: 300px;
  overflow: hidden;
  height: 508px;
  border: 1px solid #eee;
  margin: 10px 0;
  position: relative;
  padding: 8px;
  box-shadow: 0px 0px 35px #eee;
}
.product-card img {
  width: 100%;
  display: block;
  height: 325px;
  object-fit: cover;
  box-shadow: 0px 0px 35px #eee;
  border: 1px solid #eee;
}
.product-box h2 {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
  white-space: nowrap;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  color: #323232;
  padding: 0px 5px;
  margin-top: 5px;
}
.product-box span {
  color: crimson;
  padding: 0px 5px;
  font-weight: 600;
}
.product-box p {
  width: 100%;
  display: -webkit-box;
  --webkit-box-oriented: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 48px;
  font-size: 14px;
  color: #323232;
  font-weight: 400;
  padding: 0px 5px;
}
.row_btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.row_btn button {
  color: white;
  width: 50%;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  letter-spacing: 2px;
  border: none;
}
.row_btn a {
  color: #fff;
  width: 50%;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  letter-spacing: 2px;
  border: none;
}
#btn-view {
  background-color: #008080;
  margin-left: 5px;
}
#btn-delete {
  background-color: crimson;
  margin-right: 5px;
}



.details {
  width: 100%;
  display: flex;
  padding: 25px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.details img {
  max-width: 400px;
  width: 100%;
  display: block;
  height: 450px;
  object-fit: cover;
  margin: 20px;
  padding: 5px;
  border: 1px solid #eee;
  box-shadow: 0px 0px 35px #eee;
}
.detail-box {
  max-width: 500px;
  width: 100%;
  margin: 20px;
}
.row-title {
  display: flex;
  justify-content: space-between;
}
.row-title h2 {
  font-weight: 600;
  text-transform: capitalize;
  color: rgb(7, 63, 85);
}
.row-title h6 {
  margin-top: 5px;
  text-transform: uppercase;
}
.detail-box span {
  color: crimson;
  font-size: 20px;
  font-weight: 600;
}
.detail-box .description {
  color: rgb(87, 87, 87);
}
.detail-box .sold {
  font-weight: 600;
  text-transform: uppercase;
}
.row-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.row-btn a {
  width: 50%;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  letter-spacing: 2px;
}
#cart-btn {
  background-color: #4e4e4e;
  color: #fff;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #eee;
  transition: all 0.3s;
}
#cart-btn:hover {
  background-color: white;
  color: #4e4e4e;
  font-weight: 600;
}
#buy-btn {
  background-color: #008080;
  color: #fff;
  padding: 10px;
  border: 1px solid #eee;
}
.releated_products .releated_products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  margin: 20px 0;
}
.releated_products h3 {
  color: #323232;
  text-transform: uppercase;
  letter-spacing: 2px;
}